*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 4em;
	color: #FFF;
	margin-bottom: 1em;
}

#container-header{
	display: inline-block;
	margin-left: 6%;
}

#container-img{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -30px;	
}

header h1{
	font-size: 2em;
	padding-top: 10px;
}

header img{
	width: 5.7%;
}

header h1{
	font-size: 2em;
	margin-left: 8%;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.container div{
	width: 55%;
	margin: auto;
}

.container-form{
	width: 55%;
	height: 100%;
	margin: 0 auto;
}

.container-form div{
	margin: auto;
}

#msg-errors{
	color: #ff0000;
	font-size: 1.1em;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 2.5em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: .5em;
}

#label-filter{
	margin-bottom: 8px;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #cccccce1;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.table-classification{
	width: 100%;
}

label{
	color: #555555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

#container-buttons{
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: left;
	margin-left: 22.5%;
	gap: 0.5em;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#6DC82A;
    clear: both;
    margin: 10px 0px;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;
}

button:hover{
	background-color: #64af2e;
}

.adicionar-paciente{
    margin-top: 30px;
}

.invalid-patient{
	color: red;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

#filter-table{
	margin-bottom: 15px;
	height: 30px;
}

.hideName{
	display: none;
}

@media (max-width: 1024px){

	header h1{
		padding-top: 0px;
	}

	#container-header{
		margin-top: 10px;
	}

	header img{
		width: 5.5%;
	}

	.container{
		width: 85%;
		height: 100%;
		margin: 0 auto;
	}
	
	.container div{
		width: 100%;
		margin: auto;
	}

	.container-form{
		width: 60%;
		height: 100%;
		margin: 0 auto;
	}
	
	.container-form div{
		width: 100%;
		margin: auto;
	}

	#container-buttons{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
		margin: 0;
	}
	
}

@media (max-width: 560px){
	#container-img{
		margin-left: 10%;
		margin-top: -28px;
	}

	header img{
		width: 5.8%;
	}
}
